# ignore ALL image files
*.png
*.jpg

# ignore .DS_Store
.DS_Store
./data/.DS_Store

# ignore .npy files
*.npy

# ignore .pyc files
*.pyc

# ignore model files
*.ckpt*
checkpoint
*.model

# ignore the data exploration file
*.ipynb
